.circle{
  background-color: #6f42c1;
  height: 25vh;
  width: 25vh;
  border-radius: 100%;
  position: absolute;
  top: 30vh;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.container-1{
height: 100vh!important;
width: 100%;
float: left;
display: block;
position: relative;
}

.container-1 p{
  position: absolute;
  bottom: 15vh;
  width: 50vw;
  margin-left: 25vw;
  margin-right: 50vw;
}

.sub-circle-1{
  background-color: #e83e8c;
  height: 0vh;
  width: 0vh;
  z-index: -1;
  border-radius: 100%;
  position: absolute;
  top: 40vh;
  left: 52vw;
  transition: 1s;
  box-shadow: 0px 0px 7px #E4E4E4;
}

.circle h2{
  font-family: helvetica, sans-serif;
  color: white;
  position: absolute;
  top: 40%;
  bottom: 0;
  left: 15%;
  right: 0;
  margin: 0 auto;
  display: block;
}

.container-1:hover .sub-circle-1{
  transform: translateX(10vw)!important;
  transform: translateY(-4vw);
  height: 10vh;
  width: 10vh;
  transition-delay: .25s;
}

.container-1:hover .sub-circle-2{
  transform: translateX(10vw)!important;
  transform: translateY(-10vw)!important;
  height: 10vh;
  width: 10vh;
  transition-delay: .5s;
}

.sub-circle-2{
  background-color: #20c997;
  height: 0vh;
  width: 0vh;
  z-index: -1;
  border-radius: 100%;
  position: absolute;
  top: 35vh;
  left: 52vw;
  transition: 1s;
}

header{
  background-color: grey;
  width: 100%;
  height: 10px;
  margin: 0;
  float: left;

}

body{
  margin: 0;
}
